@model IEnumerable<Model.Locacao>

@{
    ViewBag.Title = "Locações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carro.Chassi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCartao)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Carro.Chassi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCartao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdLocacao }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdLocacao }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdLocacao })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
