@model IEnumerable<Model.Locacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Carro.Chassi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cartao.NumeroCartao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Carro.Chassi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cartao.NumeroCartao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLocacao }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdLocacao }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdLocacao }) |
            @Html.ActionLink("Devolver", "Devolucao", new { id = item.IdLocacao })
        </td>
    </tr>
}

</table>
