@model IEnumerable<Model.Setor>

@{
    ViewBag.Title = "Setores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <button class="btn btn-success novo">Novo</button>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <button class="btn btn-default Editar" data-Id="@item.IdSetor">Editar</button>
                <button class="btn btn-default detalhe" data-Id="@item.IdSetor">Detalhes</button>
                <button class="btn btn-default excluir" data-Id="@item.IdSetor">Detalhes</button>
            </td>
        </tr>
    }
    
    </table>
    <div class="modal" id="modal">

    </div>
    <script>
        $(function () {
            $('.detalhe').click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Setores/Details?id=" + id);
                $('#modal').modal('show');
            })
        });

        $(function () {
            $('.Editar').click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Setores/Edit?id=" + id);
                $('#modal').modal('show');
            })
        });

        $(function () {
            $('.excluir').click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Setores/Delete?id=" + id);
                $('#modal').modal('show');
            })
        });

        $(function () {
            $('.novo').click(function () {
                $("#modal").load("Create");
                $('#modal').modal('show');
            })
        });



    </script>
</body>
</html>
