<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="../../Scripts/jquery-1.9.1.js"></script>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/masterLayout.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("LocaPim", "Index", "Home", new { @class = "navbar-brand" })
                    <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Carros", "Index", "Carro")</li>
                        <li><a href="">Reservas</a></li>
                        <li>@Html.ActionLink("Funcionários", "", "")</li>
                        <li><a href="">Usuários</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    
    <script src="../../Scripts/bootstrap.min.js"></script>
     
</body>
</html>