@model Model.Pais

@{
    Layout = null;
}

    
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Projeto</h4>
            </div>
            <div class="modal-body">
                <legend>Pais</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Nome)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome, "O campo nome é obrigatório!")
                </div>

                <p>
                    <input type="submit" value="Create" />
                </p>

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div><!-- /.modal-body-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
        }
