@model Model.Funcionario

@{
    ViewBag.Title = "Criar";
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Novo Projeto</h4>
        </div>
        <div class="modal-body">

            <h2>Criar</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Funcionario</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Usuario)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Usuario)
                        @Html.ValidationMessageFor(model => model.Usuario)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.IdPessoa)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IdPessoa)
                        @Html.ValidationMessageFor(model => model.IdPessoa)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Nome)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Nome)
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Sobrenome)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Sobrenome)
                        @Html.ValidationMessageFor(model => model.Sobrenome)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Rg)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Rg)
                        @Html.ValidationMessageFor(model => model.Rg)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Cpf)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Cpf)
                        @Html.ValidationMessageFor(model => model.Cpf)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataNascimento)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataNascimento)
                        @Html.ValidationMessageFor(model => model.DataNascimento)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ativo)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ativo)
                        @Html.ValidationMessageFor(model => model.Ativo)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Funcionario)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Funcionario)
                        @Html.ValidationMessageFor(model => model.Funcionario)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Cliente)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Cliente)
                        @Html.ValidationMessageFor(model => model.Cliente)
                    </div>

                    <p>
                        <input type="submit" value="Create" />
                    </p>
                </fieldset>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
