@model Model.Carro
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Carro</h2>
            </div>

                <div class="modal-body">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Chassi)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Chassi)
                        @Html.ValidationMessageFor(model => model.Chassi)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Placa)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Placa)
                        @Html.ValidationMessageFor(model => model.Placa)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataFabricacao)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DataFabricacao, new { type="Date"})
                        @Html.ValidationMessageFor(model => model.DataFabricacao)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataAquisicao)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DataAquisicao, new { type="Date"})
                        @Html.ValidationMessageFor(model => model.DataAquisicao)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Locado)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Locado)
                        @Html.ValidationMessageFor(model => model.Locado)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ValorDiaria)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ValorDiaria)
                        @Html.ValidationMessageFor(model => model.ValorDiaria)
                    </div>

                    <p>
                        <input type="submit" value="Criar" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

}