@model Model.Carro

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excluir</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Carro</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.IdCarro)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IdCarro)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Chassi)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Chassi)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Placa)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Placa)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.DataFabricacao)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DataFabricacao)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.DataAquisicao)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DataAquisicao)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Locado)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Locado)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ValorDiaria)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValorDiaria)
        </div>
    </fieldset>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

</body>
</html>
